$mobile-width: 360px;
$tablet-width: 720px;

$color-dark: #282D30;
$color-accent: #C3002F;
$color-font-main: #323232;
$color-font-secondary: #8B8B8B;

$main-font: 'Roboto', sans-serif;

$breakpoint: 720px;

%table-grid-large {
  grid-template-columns: 1fr 40px 30px 100px 100px 90px;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  padding: 15px;
}
