<template>
  <div class="car-element">
    <div class="car-element__title">
      <p class="car-element__text">{{cutTitle}}</p>
    </div>
    <div class="car-element__year">
      <p class="car-element__text">{{data.year}}</p>
    </div>
    <div class="car-element__color">
      <div class="car-element__color-circle"
           :class="`car-element__color-circle--${data.color}`"
      />
    </div>
    <div class="car-element__status">
      <p class="car-element__text">{{status}}</p>
    </div>
    <div class="car-element__price">
      <p class="car-element__text">{{localPrice}}</p>
    </div>
    <div class="car-element__submit">
      <button
        class="car-element__button"
        @click="$emit('delete', data.id)"
      >Удалить</button>
    </div>
    <div class="car-element__description">
      <p class="car-element__text car-element__text--secondary">{{data.description}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "CarElement",
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  computed: {
    status() {
      switch (this.data?.status) {
        case 'pednding': return 'Ожидается'
        case 'out_of_stock': return 'Нет в наличии'
        case 'in_stock': return 'В наличии'
        default: return 'Нет данных'
      }
    },
    cutTitle() {
      return this.data.title.length > 40
        ? this.data.title.substr(0, 35) + '...'
        : this.data.title
    },
    localPrice() {
      return this.data?.price > 0 ? `${this.data?.price.toLocaleString('ru')} руб.` : 'Нет данных'
    }
  }
}
</script>

<style lang="scss" scoped>
  .car-element {
    display: grid;
    @extend %table-grid-large;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
      "title year color status price submit"
      "desc . . . . .";
    align-items: center;
    background-color: #F5F6F6;

    @media (max-width: $breakpoint) {
      grid-template-rows: max-content max-content 1fr;
      grid-template-columns: 40px 1fr 25px 100px;
      grid-template-areas:
      "title title color price"
      "desc desc desc desc"
      "year status . submit";
      grid-row-gap: 10px;
      grid-column-gap: 15px;
    }

    &__title {
      grid-area: title;
      overflow: hidden;
    }

    &__description {
      grid-area: desc;
      overflow: hidden;
    }

    &__year {
      grid-area: year;
    }

    &__status {
      grid-area: status;
    }

    &__price {
      grid-area: price;
    }

    &__submit {
      grid-area: submit;
    }

    &__text {
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      color: $color-font-main;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @media (max-width: $breakpoint) {
        white-space: pre-line;
      }

      &--secondary {
        font-size: 13px;
        color: $color-font-secondary;
      }
    }

    &__color {
      grid-area: color;
      justify-self: center;
    }

    &__color-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid transparent;

      &--white {
        border: 1px solid $color-font-secondary;
        background-color: white;
      }

      &--black {
        background-color: black;
      }

      &--grey {
        background-color: #C4C4C4;
      }

      &--red {
        background-color: #DD1C10;
      }

      &--green {
        background-color: #77CF61;
      }
    }

    &__button {
      padding: 5px 15px;
      text-align: center;
      font-family: $main-font;
      font-size: 14px;
      font-weight: 400;
      color: $color-font-secondary;
      background-color: transparent;
      border-radius: 20px;
      border: none;
      cursor: pointer;

      @media (max-width: $breakpoint) {
        color: white;
        background-color: $color-dark;
      }

      &:hover {
        color: white;
        background-color: $color-dark;
      }
    }
  }

</style>