<template>
  <div
    class="select"
    @focusin="showList = true"
    @focusout="showList = false"
    ref="select"
    tabindex="0"
  >
    <span
      class="select__value"
      :class="{'select__value--empty': value === 'Статус'}"
    >{{value}}</span>
    <ul class="select__list" v-show="showList">
      <li class="select__option" @click="onOptionClick('В наличии')">В наличии</li>
      <li class="select__option" @click="onOptionClick('Ожидается')">Ожидается</li>
      <li class="select__option" @click="onOptionClick('Нет в наличии')">Нет в наличии</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "CustomSelect",
  data() {
    return {
      showList: false,
      value: 'Статус'
    }
  },
  methods: {
    onOptionClick(type) {
      this.value = type;
      this.showList = false;
      switch (type) {
        case 'В наличии': type = 'in_stock';break;
        case 'Ожидается': type = 'pednding';break;
        case 'Нет в наличии': type = 'out_of_stock';break;
        default: type = 'Нет данных';
      }
      this.$emit('input', type);
      this.$refs.select.blur();
    }
  }
}
</script>

<style scoped lang="scss">
  .select {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    border: 1px solid #DADADA;
    border-bottom: 2px solid #DADADA;
    font-size: 14px;
    cursor: pointer;
    background-color: white;

    &:hover {
      border-bottom: 2px solid $color-accent;
    }

    &:focus {
      border-bottom: 2px solid $color-dark;

      &:after {
        transform: translateY(-50%) rotate(0deg);
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      transition: transform 0.2s;
      width: 8px;
      height: 8px;
      background-color: #3B3B3B;
      clip-path: polygon(0 36%, 50% 82%, 100% 37%);
    }

    &__value {
      list-style: none;
      color: $color-dark;

      &--empty {
        color: $color-font-secondary;
      }
    }

    &__list {
      position: absolute;
      left: 0;
      top: 39px;
      width: 100%;
      list-style: none;
      padding: 10px;
      margin: 0;
      border: 1px solid #DADADA;
      border-top: none;
      background-color: white;
      z-index: 2;
    }

    &__option {
      padding: 10px 0;
      color: $color-font-secondary;

      &:hover {
        color: $color-dark;
      }
    }
  }
</style>