<template>
  <footer class="footer">
    <div class="footer__content">
      <p class="footer__text">© 2020 CAPTAIN QUACK</p>
      <p class="footer__text">Десница тысячелетия и моллюск!</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterContent.vue"
}
</script>

<style lang="scss" scoped>
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 102px;
    background-color: $color-dark;
    font-weight: 300;

    &__content {
      width: 100%;
      text-align: center;
    }

    &__text {
      margin: 0;
      font-size: 11px;
      color: white;
    }
  }
</style>