<template>
  <header class="header">
    <img class="logo" src="@/assets/duck_title.png" alt="Логотип">
  </header>
</template>

<script>
export default {
  name: "HeaderContent.vue"
}
</script>

<style lang="scss" scoped>
  .header {
    position: relative;
    width: 100%;
    min-height: 102px;
    background-color: $color-dark;

    .logo {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 494px;
      
      @media (max-width: $breakpoint) {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        width: 100%;
        max-width: 300px;
      }
    }
  }
</style>