<template>
  <div class="wrap">
    <label
      class="label"
      :for="id"
      v-show="inputInFocus"
    >{{label}}</label>
    <input
      class="input"
      :id="id"
      type="text"
      :placeholder="label"
      :value="value"
      :ref="id"
      @input="onInput($event.target.value)"
      @focusin="inputInFocus = true"
      @focusout="inputInFocus = false"
    />
  </div>
</template>

<script>
export default {
  name: "InputText",
  data() {
    return {
      inputInFocus: false
    }
  },
  props: {
    label: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    value: {
      type: String | Number,
      required: true
    }
  },
  methods: {
    onInput(val) {
      if (this.id === 'year') {
        const sliced = val.slice(0,4);
        this.$refs.year.value = sliced;
        this.$emit('input', sliced);
      } else if (this.id === 'price') {
        const sliced = val.slice(0,7);
        this.$refs.price.value = sliced;
        this.$emit('input', sliced);
      } else {
        this.$emit('input', val);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .label {
      position: absolute;
      left: 0;
      top: -20px;
      font-size: 14px;
      color: $color-font-secondary;
      padding-left: 10px;
    }

    .input {
      width: 100%;
      height: 40px;
      padding: 10px;
      outline: none;
      border: 1px solid #DADADA;
      border-bottom: 2px solid #DADADA;
      font-family: $main-font;
      font-size: 18px;
      color: $color-dark;

      &::placeholder {
        color: $color-font-secondary;
        font-size: 14px;
      }

      &:hover {
        border-bottom: 2px solid $color-accent;
      }

      &:focus {
        border-bottom: 2px solid $color-dark;

        &::placeholder {
          color: transparent;
        }
      }
    }
  }
</style>