<template>
  <main class="content">
    <h1 class="content__title">¡Ay caramba!</h1>
    <form class="content__form inputs">
      <input-text :id="'name'" :label="'Название'" class="inputs__name" v-model="inputs.name"/>
      <input-text :id="'year'" :label="'Год'" class="inputs__year" v-model.number="inputs.year"/>
      <input-text :id="'price'" :label="'Цена'" class="inputs__price" v-model.number="inputs.price"/>
      <input-text :id="'description'" :label="'Описание'" class="inputs__description" v-model="inputs.description"/>
      <div class="inputs__color-block color">
        <p class="color__label">Цвет</p>
        <div class="color__picker">
          <input
            type="radio"
            v-model="inputs.color"
            value="white"
            class="color__circle color__circle--white"
            :class="{'color__circle--selected': inputs.color === 'white'}"
          />
          <input
            type="radio"
            v-model="inputs.color"
            value="black"
            class="color__circle color__circle--black"
            :class="{'color__circle--selected': inputs.color === 'black'}"
          />
          <input
            type="radio"
            v-model="inputs.color"
            value="grey"
            class="color__circle color__circle--grey"
            :class="{'color__circle--selected': inputs.color === 'grey'}"
          />
          <input
            type="radio"
            v-model="inputs.color"
            value="red"
            class="color__circle color__circle--red"
            :class="{'color__circle--selected': inputs.color === 'red'}"
          />
          <input
            type="radio"
            v-model="inputs.color"
            value="green"
            class="color__circle color__circle--green"
            :class="{'color__circle--selected': inputs.color === 'green'}"
          />
        </div>
      </div>
      <custom-select class="inputs__status" @input="inputs.status = $event"/>
      <button class="inputs__submit" @click.prevent="onSubmit">Отправить</button>
    </form>
    <section class="content__cars-block">
      <h2 class="content__cars-block__title">Автомобили в наличии</h2>
      <div class="content__cars-block__table table">
        <header class="table__header">
          <div class="table__header__section">Название</div>
          <div class="table__header__section">Год</div>
          <div class="table__header__section">Цвет</div>
          <div class="table__header__section">Статус</div>
          <div class="table__header__section">Цена</div>
          <div class="table__header__section"></div>
        </header>
        <car-element
          v-for="car in carsData"
          :key="car.id"
          :data="car"
          class="table__element"
          @delete="onElementDelete($event)"
        />
      </div>
    </section>
  </main>
</template>

<script>
import InputText from "@/components/InputText";
import CarElement from "@/components/CarElement";
import getCarData from "@/script/api";
import CustomSelect from "@/components/CustomSelect";

export default {
  name: 'MainContent',
  components: {InputText, CarElement, CustomSelect},
  data() {
    return {
      carsData: [],
      inputs: {
        name: '',
        year: '',
        price: '',
        description: '',
        color: 'white',
        status: ''
      }
    }
  },
  methods: {
    onElementDelete(id) {
      console.log(`Удаляем элемент с id: ${id}`);
      const index = this.carsData.findIndex(item => item.id === id);
      this.carsData.splice(index, 1);
    },
    onSubmit() {
      let id;
      if (this.carsData.length) {
        id = this.carsData[this.carsData.length-1]?.id + 1
      } else id = 0;
      this.carsData.push({
        id,
        title: this.inputs.name || 'Нет данных',
        description: this.inputs.description || '',
        year: this.inputs.year || 0,
        color: this.inputs.color || 'white',
        status: this.inputs.status || 'Нет данных',
        price: this.inputs.price || 0
      })
    }
  },
  async beforeMount() {
    this.carsData = await getCarData();
  }
}
</script>

<style lang='scss' scoped>
  .content {
    width: 100%;
    max-width: 958px;
    padding: 0 10px;
    margin: 0 auto;

    &__title {
      font-size: 42px;
      font-weight: bold;
      text-align: center;
      color: $color-dark;
      padding: 60px 0;
      margin: 0;

      @media (max-width: $breakpoint) {
        padding: 30px 0 40px 0;
      }
    }

    &__form {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "name year price"
        "description description description"
        "color status submit";
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      align-items: center;
      width: 100%;
      margin-bottom: 150px;

      @media (max-width: $breakpoint) {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "name name"
          "year price"
          "description description"
          "color color"
          "status submit";
        margin-bottom: 60px;
      }
    }

    .inputs {
      &__name {
        grid-area: name;
      }

      &__year {
        grid-area: year;
      }

      &__price {
        grid-area: price;
      }

      &__description {
        grid-area: description;
      }

      &__color-block {
        grid-area: color;
      }

      &__status {
        grid-area: status;
      }

      &__submit {
        grid-area: submit;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 44px;
        border: none;
        border-radius: 4px;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background-color: $color-accent;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          margin-left: 12px;
          background-image: url("~@/assets/arrow-right.svg");
        }
      }
    }

    .color {
      &__label {
        margin: 0 0 10px 0;
        font-size: 14px;
        color: $color-font-secondary;
      }

      &__picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 200px;
      }

      &__circle {
        width: 19px;
        height: 19px;
        appearance: none;
        margin: 0;
        border: 3px solid transparent;
        border-radius: 50%;
        cursor: pointer;

        &--white {
          background-color: white;
          border: 1px solid $color-font-secondary;

          &.color__circle--selected {
            &:after {
              top: -2px;
              left: -2px;
            }
          }
        }

        &--black {
          background-color: black;
        }

        &--grey {
          background-color: #C4C4C4;
        }

        &--red {
          background-color: #DD1C10;
        }

        &--green {
          background-color: #77CF61;
        }

        &--selected {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            border: 3px solid $color-accent;
          }
        }
      }
    }

    &__cars-block {
      width: 100%;
      margin-bottom: 200px;

      @media (max-width: $breakpoint) {
        margin-bottom: 0;
      }

      &__title {
        font-size: 20px;
        font-weight: 700;
        color: $color-dark;
        text-transform: uppercase;
        line-height: 16px;
        margin: 0 0 30px 0;
        padding-left: 12px;
        border-left: 3px solid $color-font-secondary;
      }

      &__table {
        .table {
          &__header {
            display: grid;
            @extend %table-grid-large;
            background-color: $color-accent;
            border-radius: 4px 4px 0 0;

            @media (max-width: $breakpoint) {
              display: none;
            }

            &__section {
              font-size: 14px;
              font-weight: 700;
              color: white;
              line-height: 24px;
            }
          }

          &__element {
            border-bottom: 1px solid #DADADA;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
</style>
