<template>
  <div class="page" id="app">
    <header-content class="page__header"/>
    <main-content class="page__main"/>
    <footer-content class="page__footer"/>
  </div>
</template>

<script>
import MainContent from '@/components/MainContent';
import HeaderContent from "@/components/HeaderContent";
import FooterContent from "@/components/FooterContent";

export default {
  name: 'App',
  components: {
    MainContent,
    HeaderContent,
    FooterContent
  }
}
</script>

<style lang="scss">
  .page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100%;
    margin: 0 auto;
    background-color: white;
    color: $color-font-main;
    font-family: $main-font;
    font-size: 15px;

    &__header {
      flex: 0 0 auto;
    }

    &__main {
      flex: 1 0 auto;
    }

    &__footer {
      flex: 0 0 auto;
    }
  }
</style>
